$color-cube-1 : #ffffff;
$color-cube-2 : #030303;
$color-cube-3 : #434343;
$color-cube-4 : #868586;
$color-cube-5 : #69a0ff;
$color-cube-6 : #bec6be;
$color-cube-7 : #027986;
$color-cube-8 : #936c0f;
$color-cube-9 : #51bfc7;
$color-cube-10 : #d61a2b;
$median-cut-1 : #f3ece3;
$median-cut-2 : #1d1c1a;
$median-cut-3 : #96a4a3;
$median-cut-4 : #7c6e69;
$median-cut-5 : #86888e;
$material-design-1 : #e1aa40;
$material-design-2 : #5b5b5b;
$material-design-3 : #3da698;
$mateirial-design-4 : #453e39;
$material-design-5 : #d5ad91;

$btn-border-radius : 10px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-body : 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
$font-handwrite : 'Kristi', cursive;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-title : 'Playfair Display', serif;